.vs
**/obj/
**/bin/
#*_wpftmp.csproj
*.csproj
#**/Cod3rsGrowth.sln
#**/Cod3rsGrowth.Forms.csproj.user
#**/Cod3rsGrowth.Web.csproj.user/
#**/Cod3rsGrowth.Dominio.csproj/
#**/Cod3rsGrowth.Forms.csproj/
#**/Cod3rsGrowth.Infra.csproj/
#**/Cod3rsGrowth.Servico.csproj/
#**/Cod3rsGrowth.Teste.csproj/
#**/Cod3rsGrowth.Web.csproj/