<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="{nomeDaConexao}" connectionString="Data Source=DESKTOP-I7RLJ0K\SQLEXPRESS;Initial Catalog=Cod3rsGrowth_BD;User ID=sa;Password=***********;Encrypt=False"
        providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>